*
!.gitignore

!README.md
!LICENSE

!shell.nix
!Makefile

!go.mod
!go.sum

!cmd/

!config/
!content/
!layouts/
!assets/
!data/
!static/

!package.json
!package-lock.json
!.prettierrc.json

!internal/

!partials/

!docs/

!docker-compose.yml
!Caddyfile
!db-schema.sql
