  <nav class="orange-page-box content-center mx-auto my-4">
    <ul
      class="w-full my-auto p-3 flex flex-row flex-nowrap align-items-center gap-3 text-base font-semibold *:my-auto"
    >
      <li class="!text-xl"><a href="{{ absURL "" }}">FurRIT</a></li>
      <li><a href="{{ absURL "events" }}">Events</a></li>
      <li><a href="{{ absURL "users" }}">Members</a></li>
      <li><a href="{{ absURL "user/me" }}">Profile</a></li>
      <li><a href="{{ absURL "about" }}">About</a></li>

      {{ if eq .HasLogout "true" }}
      <li class="self-end ml-auto">
        <a href="{{ absURL "logout" }}">Logout</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
