<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta
      name="description"
      content="The official website for the Furries of the Rochester Institute of Technology in Rochester, NY, USA, better known as FurRIT."
    />
    <meta name="author" content="FurRIT" />

    <!-- TODO: og:.* definitions -->

    {{ with resources.Get "css/main.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }} {{ if eq .Title .Site.Title }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} · {{ .Site.Title }}</title>
    {{ end }}
  </head>
  <body>
    {{ partial "navbar" }} {{ block "main" . }} {{ end }} {{ partial "footer" }}
  </body>
</html>
