{{ define "main" }}
  {{ partial "navbar" (dict "SizeClass" "page-box-small" "NoMiddle" true "LastButton" (dict "URL" (absURL "register") "Name" "Register")) }}
  {{ partial "header" (dict "SizeClass" "page-box-small" "Title" "Forgot Password") }}


  <main class="page-box-small white-main-box body-text">
    <p>1. Enter Username for Password Reset Code</p>
    <div
      class="mt-2 mb-5 flex w-full flex-col flex-nowrap content-center [&_*]:text-lg [&>*]:mb-5 [&>*:last-child]:mb-0"
    >
      {{ partial "textbox" (dict "Id" "username" "Placeholder" "Username" "Class" "block") }}
    </div>
    <div class="mx-auto mb-6 flex flex-nowrap items-center justify-center">
      <button
        id="verify-button"
        class="button cursor-pointer bg-(--legacy-color-green-40) text-white hover:bg-(--legacy-color-green-35)"
      >
        Verify
      </button>
    </div>

    <p>2. Enter Password Reset Information</p>
    <div
      class="mt-2 mb-5 flex w-full flex-col flex-nowrap content-center [&_*]:text-lg [&>*]:mb-5 [&>*:last-child]:mb-0"
    >
      {{ partial "textbox" (dict "Id" "username" "Placeholder" "Username" "Class" "block") }}
      {{ partial "textbox" (dict "Id" "password-reset-code" "Placeholder" "Password Reset Code" "Class" "block") }}
      {{ partial "textbox" (dict "Id" "new-password-1" "Placeholder" "New Password" "Class" "block") }}
      {{ partial "textbox" (dict "Id" "new-password-2" "Placeholder" "Confirm New Password" "Class" "block") }}
    </div>
    <div class="mx-auto flex flex-nowrap items-center justify-center">
      <button
        id="reset-button"
        class="button cursor-pointer bg-(--legacy-color-green-40) text-white hover:bg-(--legacy-color-green-35)"
      >
        Reset
      </button>
    </div>
  </main>

  {{ partial "footer" (dict "SizeClass" "page-box-small" "TextSizeClass" "text-sm") }}
{{ end }}
