{{ define "main" }}
  {{ partial "navbar" (dict "HasLastButton" false) }}
  {{ partial "header" (dict "Title" "Furries of RIT") }}


  <main class="page-box-normal white-main-box body-text">
    <div class="*:mb-4">{{ .Content }}</div>
    <div class="flex flex-row flex-nowrap justify-center gap-3">
      <a
        class="button bg-(--legacy-color-warm-gray-90) hover:bg-(--legacy-color-warm-gray-80)"
        href="{{ absURL "login" }}"
        >Login</a
      >
      <a
        class="button bg-(--legacy-color-green-40) text-white hover:bg-(--legacy-color-green-35)"
        href="{{ absURL "register" }}"
        >Register</a
      >
    </div>
  </main>

  {{ partial "footer" }}
{{ end }}
